<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>South Korea</key>
			<string></string>
		</dict>
		<string>21.9</string>
		<string>21.7</string>
		<string>20.5</string>
		<string>20.3</string>
		<string>28.6</string>
		<string>20.2</string>
		<string>20.1</string>
	</array>
</array>
</plist>
