<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Japan</key>
			<string>28.3</string>
			<key>Hong Kong</key>
			<string>23.1</string>
			<key>Kenya</key>
			<string>10.3</string>
			<key>South Korea</key>
			<string>29.5</string>
			<key>China</key>
			<string>23.5</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Japan</key>
			<string>1억</string>
			<key>Hong Kong</key>
			<string>1000만</string>
			<key>Kenya</key>
			<string>잘 모름</string>
			<key>South Korea</key>
			<string>5천만</string>
			<key>China</key>
			<string>13.9억</string>
		</dict>
	</array>
</array>
</plist>
