<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Internet Speed</string>
		<key>Data</key>
		<array>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Speed</key>
				<string>20.1</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Speed</key>
				<string>20.1</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Speed</key>
				<string>20.1</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Speed</key>
				<string>20.1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Population</string>
		<key>Data</key>
		<array>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Population</key>
				<string>20.1</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Population</key>
				<string>20.1</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Population</key>
				<string>20.1</string>
			</dict>
			<dict>
				<key>Country</key>
				<string>South Korea</string>
				<key>Population</key>
				<string>20.1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
