<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>New item</key>
		<array/>
		<key>Title</key>
		<string>Dessert</string>
	</dict>
	<dict>
		<key>New item</key>
		<array/>
		<key>Title</key>
		<string>Dessert</string>
	</dict>
	<dict>
		<key>New item</key>
		<array/>
		<key>Title</key>
		<string>Dessert</string>
	</dict>
</array>
</plist>
